.achievements-list {
  .clear-list;
}

.achievements-list__item-header,
.achievements-list__item-description {
  .clear-text;
}

.achievements-list__item-header {
  font-size: 24px;
  line-height: 24px;
  font-family: @Oswald;
  text-transform: uppercase;
}

.achievements-list__item-description {
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  color: @special-dark-gray;
}
