.application {
  font-family: @Oswald;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 32px;
  padding-top: 17px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.application__user-info,
.application__target,
.application__user-contacts,
.application__comment,
.application__extra {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 280px;
}

.application__user-info {
  padding-top: 0;
  border: 0;
  border-bottom: 1px solid @lightgray;
  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    padding-right: 36px;
    border-bottom: none;
  }
}

.application__target {
  border: 0;
  border-bottom: 1px solid @lightgray;
  padding-top: 26px;
  padding-bottom: 28px;


  @media (min-width: @tablet-width) {
    border: 0;
  }
}

.application__select {
  display: flex;
  flex-direction: column;
  padding-left: 45px;

  @media (min-width: @tablet-width) {
    padding: 25px 28px;
    padding-left: 73px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.application__user-contacts,
.application__comment,
.application__extra {
  border: 0;
  margin-top: 26px;
  border-top: 2px solid @basic-green;
}

.application__comment textarea {
  min-height: 150px;
  resize: none;

  @media (min-width: @tablet-width) {
    min-height: 174px;
  }
}

.application__extra {
  margin-bottom: 34px;
}

.application__button {
  margin-bottom: 21px;
}

.application__required {
  .clear-text;
  font-family: @Arial;
  text-transform: initial;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.application__legend {
  display: inline-block;
  text-transform: initial;
  font-size: 24px;
  line-height: 26px;
  margin-left: -20px;
  padding: 20px;
  max-width: 80%;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {

    max-width: 90%;
    font-size: 36px;
    line-height: 36px;
    padding: 20px 40px;
  }
}

.application__input-text,
.application__choice {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {

    margin-bottom: 32px;
  }
}

.application__submit-block {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
