.application {
  font-family: @Oswald;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 32px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.application__user-info,
.application__target,
.application__user-contacts,
.application__comment,
.application__extra {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 280px;
}

.application__user-info {
  padding-top: 0;
  border: 0;
  border-bottom: 1px solid @lightgray;

  @media (min-width: @tablet-width) {
    padding-right: 36px;
  }
}

.application__target {
  border: 0;
  border-bottom: 1px solid @lightgray;

  @media (min-width: @tablet-width) {
    border: 0;
  }
}

.application__select {
  @media (min-width: @tablet-width) {
    border: 1px solid @lightgray;
    display: flex;
    flex-direction: column;
  }
}

.application__user-contacts,
.application__comment,
.application__extra {
  border: 0;
}

.application__required {
  .clear-text;
  font-family: @Arial;
  text-transform: initial;
  font-size: 14px;
  line-height: 16px;
}

.application__legend {
  text-transform: initial;
  font-size: 24px;
  line-height: 26px;
}

.application__input-text,
.application__choice {
  margin-bottom: 13px;
}
