.catalog {
  padding: 10px 20px;
}

.catalog__main,
.catalog__extra {
  .clear-list;
}

.catalog__gift {
  background: url("../img/gift-photo.jpg") center no-repeat;
}

.catalog__gift-text {
  .clear-text;
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;
}
