.catalog-item__header,
.catalog-item__description,
.catalog-item__parameters p {
  .clear-text;
}

.catalog-item__link {
  .clear-link(@special-dark-gray-2);
  font-size: 16px;
  line-height: 20px;
  font-family: @Oswald;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-item__parameters {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  color: @special-dark-gray;
}

.catalog-item__features {
  font-size: 12px;
  line-height: 16px;
  color: @special-dark-gray;
}

.catalog-item__header {
  font-size: 16px;
  line-height: 16px;
  color: @special-dark-gray-2;
  font-family: @Oswald;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-item__description {
  font-size: 12px;
  line-height: 16px;
  color: @special-dark-gray;
}
