.choice {
  padding: 6px 0;
  position: relative;
  color: @special-dark-gray-2;

  &::before {
    content: "";
    position: absolute;
    left: -45px;
    top: 5px;
    width: 30px;
    height: 30px;
  }

  &--radio {
    &::before {
      background: url("../../img/icons/radio-off.svg") no-repeat;
    }
  }

  &--radio:hover {
    &::before {
      background-image: url("../../img/icons/radio-off-hover.svg");
    }
  }

  &--radio-active {
    &::before {
      background: url("../../img/icons/radio-on.svg") no-repeat;
    }
  }

  &--radio-active:hover {
    &::before {
      background-image: url("../../img/icons/radio-on-hover.svg");
    }
  }

  &--checkbox {
    &::before {
      background: url("../../img/icons/checkbox-off.svg") no-repeat;
    }
  }

  &--checkbox:hover {
    &::before {
      background-image: url("../../img/icons/checkbox-off-hover.svg");
    }
  }

  &--checkbox-active {
    &::before {
      background: url("../../img/icons/checkbox-on.svg") no-repeat;
    }
  }

  &--checkbox-active:hover {
    &::before {
      background-image: url("../../img/icons/checkbox-on-hover.svg");
    }
  }

  & > input:disabled + span {
    opacity: 30%;
  }
}
