.copyright__link {
  .clear-link(@special-dark-gray);
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 163px;
  }

  &:hover {
    img {
      filter: invert(68%) sepia(55%) saturate(555%) hue-rotate(52deg) brightness(85%) contrast(85%);
    }
  }

  &:active {
    opacity: 30%;
  }
}
