.example__header,
.example__description,
.example__count {
  .clear-text;
}

.example {
  background-color: @basic-gray;
}

.example__wrapper {
  padding: 27px 20px;
}

.example__header {
  font-size: 36px;
  line-height: 40px;
  font-family: @Oswald;
  font-weight: 400;
  margin-bottom: 33px;
}

.example__description {
  margin-bottom: 25px;
}

.example__count {
  font-size: 14px;
  line-height: 20px;
  font-family: @Oswald;
  text-transform: uppercase;
}
