.example__header,
.example__description,
.example__count {
  .clear-text;
}

.example {
  padding-top: 27px;
  padding-bottom: 38px;
  background-color: @background-gray;

  @media (min-width: @tablet-width) {
    padding-top: 43px;
    padding-bottom: 33px;
    border-top: 1px solid @special-gray-4;
    background: linear-gradient(to bottom, @basic-white 58%, @background-gray 58%);
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(to bottom, @basic-white 30%, @background-gray 30%);
    padding-top: 0;
    padding-bottom: 0;
  }
}

.example__wrapper {
  @media (min-width: @desktop-width) {
    max-width: calc(@desktop-width + 60px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__header {
  font-size: 36px;
  line-height: 40px;
  font-family: @Oswald;
  font-weight: 400;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 65px;
    margin-bottom: 146px;
  }
}

.example__description {
  margin: -1px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    max-width: 436px;
  }
}

.example__list-container {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 59px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 436px;
  }
}

.example__count {
  font-size: 14px;
  line-height: 20px;
  font-family: @Oswald;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    text-align: right;
    max-width: 174px;
    margin-left: auto;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    text-align: left;
    max-width: initial;
  }
}

.example__carousel {
  @media (min-width: @desktop-width) {
    padding-bottom: 64px;
  }
}

.example__photoplace {
  .clear-list;
  width: 311px;
  height: 240px;
  margin: 0 auto;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    position: relative;
    width: 708px;
    height: 620px;

    li:first-child {
      clip-path: polygon(
        0 0,
        50% 0,
        50% 100%,
        0 100%
      );
    }

    li:last-child {
      position: absolute;
      top: 0;
      left: 15%;
      clip-path: polygon(
        100% 0,
        45% 0,
        45% 100%,
        100% 100%
      );
    }
  }


}

.example__photo {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: auto;

  img {
    display: block;
  }
}

.example__photo--hidden {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.example__slider {
  width: 214px;
  margin: 0 auto;
  padding-left: 3px;

  @media (min-width: @tablet-width) {
    margin-top: -60px;
  }
}
