.food-schema {
  margin-bottom: 42px;

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
    margin: 0 auto;
    margin-bottom: 11px;
  }
}


.food-schema__list {
  .clear-list;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 37px 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 78px;
  }
}

.food-schema__header {
  .clear-text;
  font-size: 36px;
  line-height: 40px;
  font-family: @Oswald;
  font-weight: 400;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.food-schema__list-item {
  padding-left: 80px;
  background-repeat: no-repeat;
  min-height: 60px;
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 151px;
    padding-bottom: 57px;
    background-size: 80px;
    background-position-y: 40px;
    max-width: 250px;
    position: relative;

    &::before {
      position: absolute;
      left: 120px;
      top: 0;
      font-size: 280px;
      font-family: @Oswald;
      line-height: 280px;
      color: @basic-gray;
      z-index: -2;
    }
  }

  &--leaf {
    background-image: url("../../img/icons/icon-leaf.svg");

    @media (min-width: @tablet-width) {
      &::before {
        content: "1";
      }
    }
  }

  &--tub {
    background-image: url("../../img/icons/icon-tub.svg");

    @media (min-width: @tablet-width) {
      &::before {
        content: "2";
      }
    }
  }

  &--eat {
    background-image: url("../../img/icons/icon-eat.svg");

    @media (min-width: @tablet-width) {
      &::before {
        content: "3";
      }
    }
  }

  &--alarm {
    background-image: url("../../img/icons/icon-alarm.svg");

    @media (min-width: @tablet-width) {
      &::before {
        content: "4";
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }
}
