.food-series {
  margin-bottom: 27px;

  @media (min-width: @desktop-width) {
    padding-top: 82px;
    margin-bottom: 71px;
  }
}

.food-series__list {
  .clear-list;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    min-width: 1220px;
  }
}

.food-series__list-item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}
