.intro {
  font-family: @Oswald;
  text-align: center;
}

.intro--main {
  color: @basic-white;
}

.intro__main-container {
  position: relative;

  &::before {
    content: "";
    background-image: linear-gradient(
      to bottom,
      @green-opacity 0,
      @green-opacity 60%,
      @basic-white 60%,
      @basic-white 100%
      ),
      url("../img/index-background.jpg");
    background-repeat: no-repeat;
    background-size: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

.intro__wrapper {
  padding-top: 27px;
  border-top: 1px solid @lightgray;
}

.intro__wrapper--form {
  border-bottom: 0;
}

.intro__header,
.intro__slogan {
  .clear-text;
}

.intro__header {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 25px;
}

.intro__slogan {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.intro__button {
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;
}
