.page-header__wrapper {
  padding-top: 10px;
  border-bottom: 1px solid @lightgray;
  min-width: 320px;

  &--main {
    border-bottom: none;
  }
}

.page-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 17px;
}

.page-header__logo-img {
  position: absolute;
  top: 10px;
  left: 20px;
}
