.page-footer {
  background-color: @basic-gray;
  padding-top: 22px;
  padding-bottom: 22px;
}

.page-footer__logo {
  display: block;
  margin: 17px auto;
  margin-bottom: 32px;
}


.page-footer__social {
  padding: 20px;
  border-top: 1px solid @lightgray;
  border-bottom: 1px solid @lightgray;
  margin-bottom: 22px;
}
