.site-nav {
  .clear-list;
}

.site-nav__link {
  .clear-link;
  display: block;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: @basic-black;
  text-transform: uppercase;
  font-family: @Oswald;
  padding: 23px 70px;
}
