.site-nav__link {
  .clear-link;
  display: block;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: @Oswald;
  padding: 23px 20px;
  text-align: center;
  border-top: 1px solid @lightgray;
}
